* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #141922;
    --lightblack: #282828;
    --grey: #7d7f84;
    --lime: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ***************************************
****************MAIN******************* */
#box-main{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: lightseagreen;
    display: flex;
    overflow: hidden;
}

/* ///////////////////////////////////
            CONTENITORE SINISTRA
////////////////////////////////////// */

/* -----------------------------------------
                menu
----------------------------------------- */

.container-menu{
    width: 50px;
    background-color: black;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
/* --------------box-menu------------------ */
.box-menu{
    flex-basis: 150px;
}

.logo{
    width: 100%;
    text-align: center;
}

.icon-menu-logo{
    width: 25px;
    height: 25px;
    margin: 5px 0;
}

.icon-logo{
    width: 100%;
    display: none;
}

.list-icon-menu{
    text-align: center;
    color: var(--grey);
}

.icon-menu img{
    width: 25px;
    height: 25px;
    list-style: none;
    filter: invert(0.5);
    margin: 2px auto;
} 

.text-menu-hidden{
    display: none;
    padding-left: 10px;
    font-size: 13px;
    font-weight:500;
}

.icon-menu{
    display: flex;
    align-items: center;
}


/* ---------box playlist------------- */
.box-playlist{
    flex-basis: 700px;
    min-height: 150px;
    padding: 10px;
    overflow: auto;
}

.playlist-hidden{
    display: none;
}

.box-playlist h4{
    color: white;
    margin: 5px 0;
}

.list-playlist{
    list-style: none;
}

.item-list-playlist-special{
    font-size: 15px;
    font-weight: 700;
    color: var(--grey);
    display: flex;
    align-items: center;
}

.item-list-playlist-special i{
    font-size: 40px;
    padding-right: 10px;
}

.item-list-playlist{
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
}

/* -------------box app----------- */

.box-app{
    flex-basis: 150px;
    padding: 10px;
}

.download{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.download img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.download-app img{
    filter: invert(0.5);
}
.text-download{
    display: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
}

.download-app .text-download{
    padding-left: 5px;
}

.download-profile img{
    background-color: var(--grey);
    border-radius: 100%;
}

.download-profile .text-download{
    font-weight: 500;
    color: white;
    padding-left: 5px;
}


/* /////////////////////////////////////
            CONTENITORE DESTRA
 //////////////////////////////////////*/

/* -----------------------------------------
            corpo pagina
----------------------------------------- */

.container-page{
    width: calc(100% - 50px);
    background-color: lightgoldenrodyellow;
    position: relative;
}

.row-upgrade{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 70px;
    text-align: end;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#button-up{
    color: white;
    line-height: 50px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
    padding: 7px 25px;
    border: 1px solid white;
}

.box-content{
    width: 100%;
    height: 100%;
    background-color: bisque;
    overflow: auto;
    position: absolute;
    top: 0;
    padding: 5px 10px;
}

.navigation-bar{
    width: 100%;
    margin-top: 80px;
}

.list-nav-bar{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.item-nav-bar{
    font-size: 11px;
    margin: 1px;
    padding: 5px;
    color: var(--grey);
}

.title-section{
    margin: 10px 0;
}

.box-recently{
    width: 100%;
    background-color: rgb(158, 158, 241);
    display: flex; 
    flex-wrap: wrap;
    gap: 5px;
}
.card-played{
    width: calc(100% / 2 - 5px);
    background-color: beige;
    border: 1px solid black;
}

.card-played img{
    width: 100%;
    display: block;
}

.card-played > .text-card{
    text-align: center;
    background-color:rgb(151, 40, 255);
}

.title-card{
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 3px 0;
}

.subtitle{
    font-size: 10px;
    font-weight: bold;
    color: var(--grey);
    padding: 3px 0;
}



/* ***************************************
***************FOOTER************** */
#box-footer{
    width: 100vw;
    height: 70px;
    background-color: lightblue;
}

/* ***************************************
***************MEDIA QUERY************** */
@media all and (min-width: 601px) {
    .container-menu{
        width: 250px;
    }
    .container-page{
        width: calc(100% - 250px);
    }
    .icon-menu-logo{
        display: none;
    }
    .icon-logo{
        display: block;
        padding: 10px;
    }
    .list-icon-menu{
        text-align:left;
        padding-left: 10px;
    }
    .text-menu-hidden{
        display: block;
    }
    .icon-menu img{
        margin: 2px 0;
    }

    .playlist-hidden{
        display: block;
    }

    .download-app{
    border-bottom: 1px solid var(--grey);
    } 

    .download img{
        margin: 0;
    }
    .text-download{
        display: block;
    }

}




@media all and (min-width: 701px) {
    .card-played{
        width: calc(100% / 4 - 5px);
    }
}





@media all and (min-width: 1101px) {
    .card-played{
        width: calc(100% / 6 - 5px);
    }
}


