* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #141922;
    --lightblack: #282828;
    --grey: #7d7f84;
    --lime: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ***************************************
****************MAIN******************* */
#box-main{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: lightseagreen;
    display: flex;
}

/* -----------------------------------------
            menu
----------------------------------------- */

.container-menu{
    width: 15%;
    background-color: lightcoral;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.box-menu{
    width: 100%;
    background-color: lightsalmon;
    border: 1px solid black;
}

.box-playlist{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid black;
}

.box-app{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid black;
}


.icon-menu{
    transform: scale(0.1);
    list-style: none;
}



/* -----------------------------------------
            corpo pagina
----------------------------------------- */

.container-page{
    width: 85%;
    background-color: lightgoldenrodyellow;
    overflow: auto;
}




/* ***************************************
***************FOOTER************** */
#box-footer{
    width: 100vw;
    height: 70px;
    background-color: lightblue;
}






/* ***************************************
***************MEDIA QUERY************** */



